* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin:0;
}
/*-------------------- links --------------------*/
.links {
    overflow: hidden;
    background-color: #333;
}
.links a {
    float: right;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 17px 30px;
    text-decoration: none;
}
.links a:hover {
    background-color: gold;
    color: black;
}
/*----------- contenido de la página -----------*/
.principal {
    background-color: whitesmoke;
    padding: 2% 25%;

}
/*------------------- footer -------------------*/
footer {
    text-align: center;
    background-color: #333;
    padding: 10px;
    color: whitesmoke;
}



/*---------------- texto general ----------------*/
h2 {
    font-size: 28px;
    color: firebrick;
}


.perfil {
    text-align: center;
}



.perfil h3, h5 {
    margin: 0;
}

h4, h2, hr {
    margin: 0;
}

h6 {
    margin: 0;
    text-align: center;
}
/*------------------- barras -------------------*/

.barras {
    padding: 0 20%;
}

.barra-titulo {
    padding: 5px 0;
}
.barra-gris {
  padding: 4px;
  border-radius: 30px;
  background: gainsboro;
}
.barra-color {
  height: 13px;
  border-radius: 30px;
}
#cpp {
    background-color: dodgerblue;
    width: 90%;
}
#py {
    background-color: darkorange;
    width: 80%;
}
#htmlcss {
    background-color: gold;
    width: 100%;
}
#matlab {
    background-color: deeppink;
    width: 100%;
}
#clj {
    background-color: lawngreen;
    width: 20%;
}

